<a href="https://colab.research.google.com/github/kim-kidong/hello-world/blob/master/1_3_Python_Practice(solved).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Q1. Numeric과 기본연산
각각 10, 15의 값(data type=`int`)을 가지는 변수 a, b를 생성하고,  
a와 b의 합을 출력하세요.

In [ ]:
# 아래에 정답코드를 작성해주세요.
a, b = 10, 15
print(a+b)

<class 'int'>
<class 'int'>
25

##Q2. Numeric Data의 변환
x는 `int`자료형이며 5의 값을 가졌습니다.  
x를 `float`자료형으로 변환하세요.  
*Hint. int(), float()*

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
x = 5
print(type(x))
print(x)

<class 'int'>
5

In [ ]:
# 아래에 정답코드를 작성해주세요.
x = float(x)
print(type(x))

<class 'float'>

##Q3. Strings의 length
`t`는 문자열입니다. `t`의 길이를 출력하세요.  
*Hint. len()*

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
t = "7JWI64WV7ZWY7IS47JqULiDsoIDripQg7ZmN7KSA6riw7J6F64uI64ukLg=="
print(t)

7JWI64WV7ZWY7IS47JqULiDsoIDripQg7ZmN7KSA6riw7J6F64uI64ukLg==

In [ ]:
# 아래에 정답코드를 작성해주세요.

print(len(t))

60

##Q4. Strings Indexing
사번의 세번째 자리 숫자는 성별을 의미합니다.  
`s`에서 성별을 나타내는 숫자를 출력하세요.  
*Hint. Indexing*

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
s = '15104384'
print(s)

15104384

In [ ]:
# 아래에 정답코드를 작성해주세요.
print(s[2])

1

##Q5. Strings와 연산자
`f`는 "Funny", `p`는 "Python"의 값을 가지고 있는 변수입니다.  
`f`와 `p`를 이용하여 "Funny Python"이라는 문자열을 출력하세요.  
*Hint. `str`과 연산자의 활용*

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
f = "Funny"
p = "Python"
print(f)
print(p)

Funny
Python

In [ ]:
# 아래에 정답코드를 작성해주세요.
print(f + " " + p)

Funny Python

##Q6. List 생성
순서대로 1, 3, 5, 7, 9의 값을 가지고 있는 리스트를 `L`이라는 변수에 할당하세요.  
(요소의 data type은 모두 `int`입니다.)

In [ ]:
# 아래에 정답코드를 작성해주세요.
L = []

L.append(1)
L.append(3)
L.append(5)
L.append(7)
L.append(9)

print(L)

[1, 3, 5, 7, 9]

##Q7. List 수정(1)
`L2`는 List입니다. `L2`의 가장 마지막에 6의 값을 가진 요소를 추가하세요.  
(요소의 data type은 `int`입니다.)

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
L2 = [1, 2, 3, 4, 5]
print(L2)

[1, 2, 3, 4, 5]

In [ ]:
# 아래에 정답코드를 작성해주세요.
L2.append(6)
print(L2)

[1, 2, 3, 4, 5, 6]

##Q8. Indexing
`l` List의 3번 index 값을 출력하세요.

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
l = ["happiness", "sadness", "anger", "love", "thank"]
print(l)

['happiness', 'sadness', 'anger', 'love', 'thank']

In [ ]:
# 아래에 정답코드를 작성해주세요.
print(l[3])

love

##Q9. List 수정(2)
`L3`는 List입니다. `L3`의 3번 index 값을 "p"로 바꾸세요.

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
L3 = ["H", "a", "p", "o", "y"]
print(L3)

['H', 'a', 'p', 'o', 'y']

In [ ]:
# 아래에 정답코드를 작성해주세요.
L3[3] = "p"
print(L3)

['H', 'a', 'p', 'p', 'y']

##Q10. Slicing(1)
`l`의 2~8번째 index 요소를 출력하세요.

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
l = ["p", "a", "p", "y", "t", "h", "o", "n", "!", "?", "."]
print(l)

['p', 'a', 'p', 'y', 't', 'h', 'o', 'n', '!', '?', '.']

In [ ]:
# 아래에 정답코드를 작성해주세요.
print(l[2:9])

['p', 'y', 't', 'h', 'o', 'n', '!']

##Q11. Slicing(2)
`s`를 거꾸로(역순으로) 출력하세요.  
*Hint. Slicing의 step*

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
s = "uoy evol I"
print(s)

uoy evol I

In [ ]:
# 아래에 정답코드를 작성해주세요.
print(s[::-1])

I love you

##Q12. Slicing(3)
`l`의 짝수번째(홀수 Index) 요소만 출력하세요.  
*Hint. Slicing의 start와 step*

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
l = ["i", "G", "a", "o", "n", "o", "e", "d", "n", "J", "o", "o", "s", "b"]
print(l)

['i', 'G', 'a', 'o', 'n', 'o', 'e', 'd', 'n', 'J', 'o', 'o', 's', 'b']

In [ ]:
# 아래에 정답코드를 작성해주세요.
print(l[1::2])

['G', 'o', 'o', 'd', 'J', 'o', 'b']

##Q13. Dictionary 생성
아래 정보를 참고하여 `dictionary` 객체를 생성하여 변수 `d`에 할당하세요.  
Key :  Value  
"A" : "apple"  
"B" : "banana"  
"C" : "carrot"

In [ ]:
# 아래에 정답코드를 작성해주세요.
d = {}

d["A"] = "apple"
d["B"] = "banana"
d["C"] = "carrot"

print(d)
print(type(d))

{'A': 'apple', 'B': 'banana', 'C': 'carrot'}
<class 'dict'>

##Q14. Dictionary 검색
`d1`은 `dictionary` 객체 입니다.  
`d1`에서 Key의 값이 "1225"에 해당하는 Value를 출력하세요.

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
d1 = {"0101" : "신정", "0301" : "삼일절", "0505" : "어린이날", "0606" : "현충일", "0815" : "광복절", "1003" : "개천절", "1009" : "한글날", "1225" : "크리스마스"}
print(d1)

{'0101': '신정', '0301': '삼일절', '0505': '어린이날', '0606': '현충일', '0815': '광복절', '1003': '개천절', '1009': '한글날', '1225': '크리스마스'}

In [ ]:
# 아래에 정답코드를 작성해주세요.
print(d1["1225"])

크리스마스

##Q15. Dictionary 수정(1)
`d`에서 Key 값이 "dog"인 요소의 Value를 "개"로 수정하세요.

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
d = {"cat" : "고양이", "zebra" : "얼룩말", "monkey" : "원숭이", "dog" : "고라니"}
print(d)

{'cat': '고양이', 'zebra': '얼룩말', 'monkey': '원숭이', 'dog': '고라니'}

In [ ]:
# 아래에 정답코드를 작성해주세요.
d["dog"] = "개"
print(d["dog"])

개

##Q16. Dictionary 수정(2)
`d`에서 Key 값이 "tomato"인 요소를 삭제하세요.

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
d = {"apple" : "사과", "banana" : "바나나", "grape" : "포도", "tomato" : "토마토", "orange" : "오렌지"}
print(d)

{'apple': '사과', 'banana': '바나나', 'grape': '포도', 'tomato': '토마토', 'orange': '오렌지'}

In [ ]:
# 아래에 정답코드를 작성해주세요.
d.pop("tomato")
print(d)

{'apple': '사과', 'banana': '바나나', 'grape': '포도', 'orange': '오렌지'}

##Q17. List 중복값 제거
`l`은 중복된 요소를 가진 `list`입니다.  
`l`에서 중복된 요소를 제거한 `list`를 `l1` 변수에 할당하세요.  
*Hint. `list`를 `set`으로 변환하면 중복된 요소가 사라집니다.*

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
l = [1, 1, 3, 5, 6, 6, 6, 7, 9, 10, 9]
print(l)

[1, 1, 3, 5, 6, 6, 6, 7, 9, 10, 9]

In [ ]:
# 아래에 정답코드를 작성해주세요.
l1 = list(set(l))
print(l1)

[1, 3, 5, 6, 7, 9, 10]

#Q18. sort
`l`을 정렬하여 저장하고 출력하세요.  
*Hint. .sort(), sorted()*

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
l = [12, 6, 2, 3, 8, 5, 13, 9, 1]
print(l)

[12, 6, 2, 3, 8, 5, 13, 9, 1]

In [ ]:
# 아래에 정답코드를 작성해주세요.
l = sorted(l)
print(l)

[1, 2, 3, 5, 6, 8, 9, 12, 13]

In [ ]:
l.sort()
print(l)

[1, 2, 3, 5, 6, 8, 9, 12, 13]

#Q19. type(), Condition
`x`가 `str` 자료형이면 "It's Strings"  
`x`가 `int` 자료형이면 "It's Int"  
`x`가 `float` 자료형이면 "It's float"  
`x`가 그 외 자료형이면 "I don't know"를 출력하는 조건문을 작성하세요.

In [ ]:
# 아래에 정답코드를 작성해주세요.
x = 1.0

if type(x) is str:
    print("It's Strings")
elif type(x) is int:
    print("It's Int")
elif type(x) is float:
    print("It's float")
else:
    print("I don't know")

It's float

#Q20. for Loop와 range()
2~20의 숫자 중 2의 배수를 출력하는 `for`문을 작성하세요.(range()를 활용하세요.)  
*Hint. range(start, stop, **step**)*

In [ ]:
# 아래에 정답코드를 작성해주세요.
for each in range(2,21,2):
    print(each)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for each in range(2,21):
    if each % 2 == 0:
        print(each)

2
4
6
8
10
12
14
16
18
20

#Q21. List의 for Loop와 Condition
`for`문과 `if`문을 활용하여 `l`의 요소 중 2의 배수인 값만 출력하는 코드를 작성하세요.

In [ ]:
# 문제의 입력값입니다. 풀기 전 꼭 실행해주세요.
l = [1, 3, 4, 5, 7, 8, 10, 12, 13, 14, 17, 19, 20]
print(l)

[1, 3, 4, 5, 7, 8, 10, 12, 13, 14, 17, 19, 20]

In [ ]:
# 아래에 정답코드를 작성해주세요.
for each in l:
    if each % 2 == 0:
        print(each)

4
8
10
12
14
20

#Q22. Function 생성
`list`(values)가 인자로 주어지면 해당 `list`의 평균을 반환하는 mean() 함수를 완성하세요.

In [ ]:
# 아래에 정답코드를 작성해주세요.
def mean(values):
  return sum(values) / len(values)

In [ ]:
l = list(range(10))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(mean(l))

4.5