<a href="https://colab.research.google.com/github/kim-kidong/hello-world/blob/master/%EC%A3%BC%EC%8B%9D%EA%B0%80%EA%B2%A9%EA%B0%80%EC%A0%B8%EC%98%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 라이브러리 함수정의

In [0]:
import requests
from bs4 import BeautifulSoup

# URL데이터 가져오기

In [0]:
def get_bs_obj():
  url = "https://finance.naver.com/item/main.nhn?code=005930"
  result = requests.get(url)
  bs_obj = BeautifulSoup(result.content, "html.parser")
  return bs_obj

# 특정 한가지 종목 가격 함수(1)

In [99]:
bs_obj = get_bs_obj()
no_today = bs_obj.find("p", {"class":"no_today"})
# print(no_today)

blind_now = no_today.find("span",{"class":"blind"})
# print(blind_now)
print(blind_now.text)

49,150

# 특정 한가지 종목 가격 함수(2)

In [100]:
def get_price(bs_obj):
  no_today = bs_obj.find("p", {"class":"no_today"})
  blind_now = no_today.find("span",{"class":"blind"})
  return blind_now.text

bs_obj = get_bs_obj()
price = get_price(bs_obj)
print(price)

49,150

# 다량 종목 가격 함수

In [0]:
def get_bs_obj(company_code):
  url = "https://finance.naver.com/item/main.nhn?code=" + company_code
  result = requests.get(url)
  bs_obj = BeautifulSoup(result.content, "html.parser")
  return bs_obj

In [103]:
def get_price(company_code):
  bs_obj = get_bs_obj(company_code)
  no_today = bs_obj.find("p", {"class":"no_today"})
  blind_now = no_today.find("span",{"class":"blind"})
  return blind_now.text

price = get_price("015760")
price1 = get_price("000660")
print(price,price1)

25,300 80,000

In [107]:
def get_price(company_code):
  bs_obj = get_bs_obj(company_code)
  no_today = bs_obj.find("p", {"class":"no_today"})
  blind_now = no_today.find("span",{"class":"blind"})
  return blind_now.text

print("한국전력 :", get_price("015760"))
print("삼성전자 :", get_price("005930"))
print("하이닉스 :", get_price("000660"))
print("삼영전자 :", get_price("005680"))

한국전력 : 25,300
삼성전자 : 49,150
하이닉스 : 80,000
삼영전자 : 8,810

In [113]:
def get_price(company_code):
  bs_obj = get_bs_obj(company_code)
  no_today = bs_obj.find("p", {"class":"no_today"})
  blind_now = no_today.find("span",{"class":"blind"})
  return blind_now.text

company_codes = ["015760","005930","000660","005680"]
for item in company_codes:
  price = get_price(item)
  print(price)

25,300
49,150
80,000
8,810

# 여러가지 데이터 가져오기

In [0]:
def get_bs_obj(company_code):
  url = "https://finance.naver.com/item/main.nhn?code=" + company_code
  result = requests.get(url)
  bs_obj = BeautifulSoup(result.content, "html.parser")
  return bs_obj

In [121]:
def get_candle_chart_data(company_code):
  bs_obj = get_bs_obj(company_code)
  
  td_first = bs_obj.find("td", {"class":"first"})
  blind = td_first.find("span", {"class":"blind"})
   
  # close 종가(전일)
  close = blind.text
  
  table = bs_obj.find("table", {"class":"no_info"})
  trs = table.findAll("tr")
  
  # high 고가
  first_tr = trs[0]
  first_tr_tds = first_tr.findAll("td")
  first_tr_tds_second_td = first_tr_tds[1]
  high = first_tr_tds_second_td.find("span", {"class":"blind"}).text
  
  # open 시가
  second_tr = trs[1]
  second_tr_td_first = second_tr.find("td", {"class":"first"})
  blind_open = second_tr_td_first.find("span", {"class":"blind"})
  open = blind_open.text
  
  # Low 저가
  second_tr_tds = second_tr.findAll("td")
  second_tr_sec_td = second_tr_tds[1]
  blind_low = second_tr_sec_td.find("span", {"class":"blind"})
  low = blind_low.text

  
  return {"close":close, "high":high, "open":open, "low": low}

candle_chart_data = get_candle_chart_data("015760")
# print(candle_chart_data)

# print(get_candle_chart_data("015760"))
# print(get_candle_chart_data("035420"))


company_codes = ["015760","005930","000660","005680","035420"]
for item in company_codes:
  candle_chart_data = get_candle_chart_data(item)
  print(candle_chart_data)

{'close': '25,600', 'high': '25,950', 'open': '25,800', 'low': '25,250'}
{'close': '48,550', 'high': '49,450', 'open': '49,000', 'low': '48,800'}
{'close': '79,000', 'high': '80,500', 'open': '79,800', 'low': '79,400'}
{'close': '8,900', 'high': '9,030', 'open': '8,910', 'low': '8,770'}
{'close': '153,500', 'high': '157,000', 'open': '156,500', 'low': '153,500'}